@using API.Utilities.Enums;
@model IEnumerable<API.Dtos.WorkOrders.WorkOrderDetailDto>;
@{
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
    var listCount = 1;
}
<div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class='bx bx-menu'></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                        <i class='bx bx-bell'></i>
                        <div class="notification bg-primary rounded-circle"></div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/lib/img/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">My Profile</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>
                                <a href="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">

        <h1>Work Order</h1>
        <div class="container">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- /Inner sidebar -->
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <div class="d-flex justify-content-between pt-3 mx-3">
                            <div class="">
                                <a href="/WorkOrder/Create" class="btn btn-primary">Create Work Order</a>
                            </div>
                            <span class="input-icon input-icon-sm ml-auto w-auto">
                                <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none" placeholder="Search Reports" />
                            </span>
                        </div>
                        <!-- /Inner main header -->
                        <!-- Inner main body -->
                        <!-- Forum List -->
                        <div class="inner-main-body p-2 p-sm-3">
                            <table class="table table-sm" id="workOrderTable">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Created</th>
                                        <th scope="col">Status</th>

                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Reverse())
                                    {
                                        var imgSrc = "";
                                        @if (item.ReportPhoto != null && item.ReportPhoto.Length > 0)
                                        {
                                            var base64Image = Convert.ToBase64String(item.ReportPhoto);
                                            imgSrc = $"data:image/jpeg;base64,{base64Image}";
                                        }
                                        string cssClass = "";
                                        string cssBtnClass = "";
                                        string btnText = "Detail";
                                        if (item.Status == StatusWorkOrderLevel.NotStarted)
                                        {
                                            cssClass = "bg-light-success text-danger";
                                            cssBtnClass = "btn-success";
                                            btnText = "Process";
                                        }
                                        else if (item.Status == StatusWorkOrderLevel.InProgress)
                                        {
                                            cssClass = "bg-light-warning text-warning";
                                            cssBtnClass = "btn-primary";
                                        }
                                        else if (item.Status == StatusWorkOrderLevel.Completed)
                                        {
                                            cssClass = "bg-light-success text-success";
                                            cssBtnClass = "btn-primary";
                                        }
                                        else
                                        {
                                            cssClass = "bg-light-info text-info";
                                            cssBtnClass = "btn-primary";
                                        }
                                        <tr>
                                            <td> @listCount </td>
                                            <td> @Html.DisplayFor(modelItem => item.Title)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                            <td>
                                                <span class="mb-1 badge rounded-pill font-medium @cssClass">@Html.DisplayFor(modelItem => item.Status)</span>
                                            </td>
                                            <td>
                                                <div>
                                                    @* <a href="/Report/Edit/?guid=@item.Guid" class="btn btn-primary"hidden">Edit</a> *@
                                                    <button class="btn btn-primary btn-detail"
                                                            data-bs-toggle="modal"
                                                            data-action="detailWorkOrder"
                                                            data-bs-target="#detailsModal"
                                                            data-wo='{
                                                                                
                                                                                "woGuid":"@item.Guid",
                                                                                "title":"@item.Title",
                                                                                "description":"@item.Description",
                                                                                "status":"@item.Status",
                                                                                "createdDate":"@item.CreatedDate",
                                                                                "reportTitle":"@item.ReportTitle",
                                                                                "reportDescription":"@item.ReportDescription",
                                                                                "reportPhoto":"@imgSrc"
                                                                            }'>
                                                        Detail
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                        listCount++;
                                    }
                                </tbody>
                            </table>
                            <!-- /Forum List -->
                            <!-- Forum Detail -->
                            <!-- /Inner main body -->
                        </div>
                        <!-- /Inner main -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade " id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h2 class="text-white">Details</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>


            </div>
            <div class="modal-body">
                <div class="row border mt-3">
                    <div class="col-md-3 ms-auto bg-light py-3">
                        Title Work Order
                    </div>
                    <div class="col-md-9 ms-auto bg-light py-3 d-flex">
                        <p class="me-2">: </p> <p class="" id="title"></p>
                    </div>
                </div>
                <div class="row border mt-3">
                    <div class="col-md-3 ms-auto bg-light py-3">
                        Deskripsi Work Order
                    </div>
                    <div class="col-md-9 ms-auto bg-light py-3 d-flex">
                        <p class="me-2">: </p> <p id="description"></p>
                    </div>
                </div>
                <div class="m-2">
                    <h2>Report Detail</h2>
                    <p id="reportDescription"></p>
                </div>
                <div class="text-center m-2">
                    <img id="reportPhoto" class="img-fluid" src="" alt="Image">
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                <button class="btn btn-success" id="createWorkOrderReportButton">Create Work Order</button>
                <button class="btn btn-success" id="takeWorkOrderButton">Take Work Order</button>
            </div>
        </div>
    </div>
</div>
