@using API.Utilities.Enums;
@model IEnumerable<API.DTOs.Reports.ReportDetailDto>

@{
    Layout = "~/Views/Shared/_GeneralAffairsLayout.cshtml";
}
@{
    int reportProcessed = ViewBag.TotalReport[1].Count;
    int reportRejected = ViewBag.TotalReport[2].Count;
    int reportDone = ViewBag.TotalReport[3].Count;
    int allReport = reportProcessed + reportRejected + reportDone;
    int listCount = 1;
}

<div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class='bx bx-menu'></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                        <i class='bx bx-bell'></i>
                        <div class="notification bg-primary rounded-circle"></div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/lib/img/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">My Profile</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>
                                <a href="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-3 col-xl-3">
                <a href="./app-chat.html" class="p-4 text-center bg-success-subtle card shadow-none rounded-2">
                    <span>
                        <i class="ti text-success ti-flag-3 fs-8"></i>
                    </span>
                    <p class="fw-semibold text-success mb-1">Laporan Masuk</p>
                    <h4 class="fw-semibold text-success mb-0">@allReport</h4>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3">
                <a href="javascript:void(0)" class="p-4 text-center bg-warning-subtle card shadow-none rounded-2">
                    <span>
                        <i class="ti text-warning ti-loader fs-8"></i>
                    </span> 
                    <p class="fw-semibold text-warning mb-1">Laporan Diproses</p>
                    <h4 class="fw-semibold text-warning mb-0">@reportProcessed</h4>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 col-xl-3">
                <a href="./page-user-profile.html" class="p-4 text-center bg-primary-subtle card shadow-none rounded-2">
                    <span>
                        <i class="ti text-primary ti-circle-check fs-8"></i>
                    </span>
                    <p class="fw-semibold text-primary mb-1">Laporan Selesai</p>
                    <h4 class="fw-semibold text-primary mb-0">@reportDone</h4>
                </a>
            </div>

            <div class="col-sm-6 col-lg-3 col-xl-3">
                <a href="./app-email.html" class="p-4 text-center bg-danger-subtle card shadow-none rounded-2">
                    <span>
                        <i class="ti text-danger ti-flag-off fs-8"></i>
                    </span>
                    <p class="fw-semibold text-danger mb-1">Laporan Ditolak</p>
                    <h4 class="fw-semibold text-danger mb-0">@reportRejected</h4>
                </a>
            </div>

        </div>
        <h1>Reports</h1>
        <div class="container">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- /Inner sidebar -->
                    <!-- Inner main -->
                    <div class="inner-main">
  
                        <!-- Inner main header -->
                        @*                         <div class="d-flex justify-content-between pt-3 mx-3">
                        <span class="input-icon input-icon-sm ml-auto w-auto">
                        <input type="text" class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none" placeholder="Search Reports" />
                        </span>
                        </div> *@
                        <!-- /Inner main header -->
                        <!-- Inner main body -->
                        <!-- Forum List -->

                        <div class="inner-main-body p-2 p-sm-3">
                            <table class="table table-sm" id="tableReports">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Reported By</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Report Date</th>
                                        <th scope="col">Status</th>

                                        <th scope="col">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Reverse())
                                    {
                                        var imgSrc = "";
                                        @if (item.ReportPhoto != null && item.ReportPhoto.Length > 0)
                                        {
                                            var base64Image = Convert.ToBase64String(item.ReportPhoto);
                                            imgSrc = $"data:image/jpeg;base64,{base64Image}";
                                           
                                        }
                                        string cssClass = "";
                                        string cssBtnClass = "";
                                        string btnText = "Detail";
                                        if (item.Status == StatusLevel.Sending)
                                        {
                                            cssClass = "bg-light-success text-success";
                                            cssBtnClass = "btn-success";
                                            btnText = "Process";
                                        }
                                        else if (item.Status == StatusLevel.OnProcess)
                                        {
                                            cssClass = "bg-light-warning text-warning";
                                            cssBtnClass = "btn-primary";
                                        }
                                        else if (item.Status == StatusLevel.Reject)
                                        {
                                            cssClass = "bg-light-danger text-danger";
                                            cssBtnClass = "btn-primary";
                                        }

                                        else
                                        {
                                            cssClass = "bg-light-info text-info";
                                            cssBtnClass = "btn-primary";
                                        }


                                        <tr>
                                            <td class="align-self-center"> @listCount </td>
                                            <td> @Html.DisplayFor(modelItem => item.EmployeeFullName)</td>
                                            <td> @Html.DisplayFor(modelItem => item.Title)</td>
                                            <td> @Html.DisplayFor(modelItem => item.CreatedDate)</td>
                                            <td>
                                                <span class="mb-1 badge rounded-pill font-medium @cssClass">@Html.DisplayFor(modelItem => item.Status)</span>
                                            </td>
                                            <td>
                                                <div >
                                                    @* <a href="/Report/Edit/?guid=@item.Guid" class="btn btn-primary"hidden">Edit</a> *@
                                                    <button class="btn @cssBtnClass btn-detail"
                                                            data-bs-toggle="modal"
                                                            data-action="detail"
                                                            data-bs-target="#detailModal"
                                                            data-report='{
                                                                            "reportBy":"@item.EmployeeFullName",
                                                                            "reportBy":"@item.EmployeeFullName",
                                                                            "reportGuid":"@item.Guid",
                                                                            "title":"@item.Title",
                                                                            "createdDate":"@item.CreatedDate",
                                                                            "status":"@item.Status",
                                                                            "description":"@item.Description",
                                                                            "note":"@item.Note",
                                                                            "modifiedDate":"@item.ModifiedDate",
                                                                            "reportPhoto":"@imgSrc"
                                                                        }'>
                                                            @btnText
                                                    </button>

                                                </div>
                                            </td>
                                        </tr>
                                        listCount++;
                                    }
                                </tbody>
                            </table>
                            <!-- /Forum List -->
                            <!-- Forum Detail -->
                            <!-- /Inner main body -->
                        </div>
                        <!-- /Inner main -->
                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="detailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Report Detail</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card rounded-2 overflow-hidden">
                                            <div class="position-relative">
                                               
                                                <img id="reportPhoto" src=""  class="card-img-top rounded-0 object-fit-cover" alt="..." height="400">
                                            </div>
                                            <div class="card-body p-4">
                                               
                                                <div class="d-flex align-items-center gap-4">
                                                <span class="badge fs-2 rounded-4 py-1 px-2 lh-sm" id="statusReport"></span>
                                                <div class="d-flex align-items-center gap-2"><i class="ti ti-user text-dark fs-5"></i>Report By: <span id="reportBy"><strong>Nama</strong></span></div>

                                                    <div class="d-flex align-items-center fs-2 ms-auto">
                                                    <i class="ti ti-calendar text-dark"></i><span id="modifiedDate"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body border-top p-4">
                                                <h4 class="fs-8 fw-semibold mb-3" id="title">Title of the paragraph</h4>
                                                <p class="mb-3" id="description">
                                                   
                                                </p>
                                                

                                                <div class="border-top mt-7 pt-7">
                                                    <h6 class="fw-semibold">Note From GA: </h6>
                                                    <p class="mb-3" id="note">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer" id="modalFooter">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="modal fade" id="detailModalaa" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailModalLabel">Detail Report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 text-center">
                    <img id="reportPhoto" src="" alt="Report Photo" class="img-fluid rounded">
                </div>
                <div class="mb-3">
                    <span>Reported By:</span> <strong id="reportBy"></strong>
                </div>
                <div class="mb-3">
                    <strong>Title:</strong> <span id="title"></span>
                </div>
                <div class="mb-3">
                    <strong>Created Date:</strong> <span id="createdDate"></span>
                </div>
                <div class="mb-3">
                    <strong>Status:</strong> <span id="status"></span>
                </div>
                <div class="mb-3">
                    <strong>Note:</strong> <span id="note"></span>
                </div>
                <div class="mb-3">
                    <strong>Modified Date:</strong> <span id="modifiedDate"></span>
                </div>
               
            </div>
            <div class="modal-footer" id="modalFooter">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<div id="rejectWoModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="reject-wo-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-danger text-white">
                <h4 class="modal-title" id="danger-header-modalLabel">
                    Reject Report
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <input type="hidden" id="reportGuidInput" name="guid">
                    <div class="mb-3">
                        <label for="noteTextArea" class="col-form-label">Note:</label>
                        <textarea class="form-control" id="noteTextArea" placeholder="Berikan alasan penolakan"></textarea>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">
                    Cancel
                </button>
                <button type="button" onclick="UpdateStatusReport()" class="btn bg-danger-subtle text-danger font-medium">
                    Reject
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>



<div class="modal fade" id="createWorkOrderModal" tabindex="-1" role="dialog" aria-labelledby="createWorkOrderModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h2 class="text-white">Create Work Order</h2>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <!-- Formulir untuk membuat Work Order -->
                <form id="workOrderForm" enctype="multipart/form-data">
                    <input type="hidden" id="reportGuidHidden" name="reportGuidHidden">

                    <div class="form-group">
                        <label for="inputWoTitle">Title</label>
                        <input type="text" class="form-control" id="inputWoTitle" name="title">
                    </div>
                    <div class="form-group">
                        <label for="inputWoDesc">Description</label>
                        <textarea class="form-control" id="inputWoDesc" name="description"></textarea>
                        
                    </div>
                    <div class="form-group">
                        <label for="csEmployee">Choose Service Worker/CS</label>
                        <select class="form-select" js-states form-control" id="inputCs">
                            <option disabled>Please Select</option>
                            @foreach (var cs in ViewBag.ListCs)
                            {
                                <option value="@cs.Guid">@cs.FullName</option>
                            }
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-white" data-bs-dismiss="modal">Cancel</button>
                <button type="button" onclick="InsertWorkOrder()" class="btn btn-success" id="createWorkOrderBtn">Create Work Order</button>

            </div>
        </div>
    </div>
</div>
