@model API.DTOs.Reports.ReportDetailDto

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item d-block d-xl-none">
                    <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                        <i class='bx bx-menu'></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                        <i class='bx bx-bell'></i>
                        <div class="notification bg-primary rounded-circle"></div>
                    </a>
                </li>
            </ul>
            <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                    <li class="nav-item dropdown">
                        <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            <img src="~/lib/img/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                            <div class="message-body">
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-user fs-6"></i>
                                    <p class="mb-0 fs-3">My Profile</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-mail fs-6"></i>
                                    <p class="mb-0 fs-3">My Account</p>
                                </a>
                                <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                    <i class="ti ti-list-check fs-6"></i>
                                    <p class="mb-0 fs-3">My Task</p>
                                </a>
                                <a href="Logout" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!--  Header End -->
    <div class="container-fluid">

        <h1>Details Report</h1>
        <div class="container">
            <div class="main-body p-0">
                <div class="inner-wrapper">
                    <!-- Inner main -->
                    <div class="inner-main">
                        <!-- Inner main header -->
                        <div class="d-flex justify-content-between pt-3 mx-3">
                            <div class="">
                                <a href="/Employee" class="btn btn-primary align-content-center"><i class='bx bx-arrow-back me-1' style='color:#ffffff'></i> Back to Dashboard</a>
                            </div>
                        </div>
                        <!-- /Inner main header -->
                        <!-- Inner main body -->
                        @* <h5 class="card-title fw-semibold mb-4">Forms</h5> *@
                       
                        <div class="card mt-3">
                            <div class="text-center m-3">
                                @if (Model.ReportPhoto != null && Model.ReportPhoto.Length > 0)
                                {
                                    var base64Image = Convert.ToBase64String(Model.ReportPhoto);
                                    var imgSrc = $"data:image/jpeg;base64,{base64Image}";
                                    <img src="@imgSrc" alt="Photo" class="img-fluid max-img" />
                                }
                                else
                                {
                                    <img src="~/lib/img/products/s4.jpg" alt="...">
                                }
                                
                            </div>
                            <div class="card-body">
                                <h6 class="card-title">@Html.DisplayFor(model => model.Title)</h6>
                                <p class="card-text">
                                    @Html.DisplayFor(model => model.Description)
                                </p>
                                <div class="d-flex">
                                    <p class="badge text-white text-muted me-2 bg-success p-1 rounded align-self-center">
                                        @Html.DisplayFor(model => model.Status)
                                    </p>
                                    <p class="pr-2 p-1 rounded text-primary">
                                        created : @Html.DisplayFor(model => model.CreatedDate)
                                    </p>
                                </div>
                                <div class="">

                                    <p class=" rounded text-gray fw-bold">
                                        Note From GA : 
                                    </p>
                                    <p class=" rounded text-gray">
                                        @Html.DisplayFor(model => model.Note)
                                    </p>
                                </div>

                            </div>

                        </div>

                        <!-- /Inner main body -->
                    </div>
                    <!-- /Inner main -->
                </div>


            </div>
        </div>


    </div>
</div>
